/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Arimo', sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus{
  text-decoration: none;
}

button:focus{
  outline: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-container p, .cd-container ul{
  font-size: 16px;
}
.cd-container h4{
  font-weight: bold;
  font-size: 16px;
}
.p-bottom p{
  padding-bottom: 10px;
}
.title{
  text-align: center;
  font-size: 1.7em;
}
.logo{
  text-align: right;
  padding-top: 100px;
}
.subtitle{
  font-size: 1.2em;
  padding: 30px 0 10px;
  color: #E12A1C;
  font-weight: bold;
}
#more .cd-container{
  padding: 4em 0;
}
#streetview .cd-container p, #reklamtv .cd-container p{
  padding-top: 30px;
}


/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
  width: 190px;
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}
.cd-fixed-bg {
    background-attachment: fixed;
  }
@media only screen and (min-width: 930px){
  .cd-header #cd-logo {
    margin: 21px 0 0 5%;
  }
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-header {
    height: 70px;
  }
}
@media only screen and (min-width: 930px) {
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em .9em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #337C17;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.mini-fixed-bg{
  position: relative;
  min-height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/background1.jpg");
}
.mini-fixed-bg.cd-bg-2 {
  background-image: url("../img/bikemedia.jpg");
  background-color: #151515;
  opacity: 0.85;
}
.mini-fixed-bg.cd-bg-3 {
  background-image: url("../img/streetview.jpg");
  background-color: #F26722;
  opacity: 0.85;
}
.mini-fixed-bg.cd-bg-4 {
  background-image: url("../img/reklamtv.jpg");
  background-color: #F6EB13;
  opacity: 0.85;
}
.mini-fixed-bg.cd-bg-5{
  background-image: url("../img/webzasve.jpg");
  background-color: #0C6594;
  opacity: 0.85;
}
.cd-fixed-bg.cd-bg-6{
  background-image: url("../img/background2.jpg");
   min-height: 50%;
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
  .cd-header #cd-logo img {
    width: 150px;
  } 
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  z-index: 2;
}
.box-shadow{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #F2F2F2;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #fff;
  color: #3d3536;
}

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    font-size: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 300;
  }
  .cd-scrolling-bg.about-us{
    font-size: 1.2rem;
    line-height: 2;
  }
}

/**********arrow down**********/
a .arrow:hover{
  color: #b4d7a8;
}
.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-size: contain;
}
.arrow i{
  font-size: 40px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/**********contact form**********/
#contactForm{
  margin-top: 15px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #D4D4D4;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
    color: #333;
}

.floating-label-form-group input#phone{
  margin-bottom: 15px;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .8em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #D4D4D4;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #4FB367;
}

form .control-group:first-child .floating-label-form-group {
    border-top: 1px solid #D4D4D4;
}

.anti-spam{
  padding: 15px 0;
}

.anti-spam p{
  font-weight: bold;
}

.anti-spam .refresh{
  float: right;
  color: #3d3536;
}

.anti-spam .floating-label-form-group{
  border-top: 1px solid #D4D4D4;
  margin-top: 10px;
}

.btn-success{
    float: right;
}

.btn-lg{
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 4px;
}